<div class="container">
    <div class="row">
    <div class="col col-sm-6 text-justify mt-3 mb-3">
        <span>Un sistema de comercio electrónico o más bien un sistema de ventas online
            tipo web. El comercio electrónico es el intercambio de productos o servicios
            usando el internet. “LIKESHOP” será una plataforma todo en uno que
            ayudará al dueño de la empresa alcanzar el éxito de sus ventas, llegar a
            nuevos clientes, descubrir nuevos horizontes en ventas, con clientes
            nacionales e internacionales si así lo deseas.</span><br><br>

            <span>Es un software todo en uno que estará diseñado de muchas funciones clave,
                para el éxito de un negocio online. Nosotros haremos que sea un sistema
                multiplataforma basado en la web, le añadiremos un sistema de pago vía
                PayPal, de esta manera podemos llegar a clientes internacionales y a un
                mayor flujo de ventas conectando con personas de diferentes países. </span><br><br>

            <span><br><br>
            Entre las demás funciones sería un método de facturación a través de correo
            electrónico, desde que el cliente compre algo será notificado vía su correo
            de la compra que realizo. Una página para el administrador el dueño de la
            empresa que pueda ir viendo en tiempo real como van las operaciones de la
            empresa y demás detalles.</span>
    </div>
    <div class="col col-sm-6">
        <h1>Hola</h1>
    </div>

</div>
</div>