<!DOCTYPE html>
<html lang="en">

<body>

    <div>
        <div class="container">
            <link rel="stylesheet" href="about.component.css">
          <h2 class="pb-0 pt-4 text-center mb-5 display-5">Sobre nosotros</h2>
          <div class="row align-items-center connecting-lines d-flex">
            <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
              <div class="circle font-weight-bold"><i class="fa fa-check"></i></div>
            </div>
            <div class="col-6">
              <h4>Quienes somos?</h4>
              <p>Somos 2 estudiantes de ucateci, Cursando la carrera de ingenieria en sistemas.</p>
            </div>
          </div>
          <!-- Path Line -->
          <div class="row timeline">
            <div class="col-2">
              <div class="corner top-right"></div>
            </div>
            <div class="col-8">
              <hr/>
            </div>
            <div class="col-2">
              <div class="corner left-bottom"></div>
            </div>
          </div>
          <!-- Second Content Section-->
          <div class="row align-items-center justify-content-end connecting-lines d-flex">
            <div class="col-6 text-right">
              <h4>Nombres y matriculas</h4>
              <p>Samuel Langumas 2018-1067.</p>
              <p>Carlos Diaz 2018-1141.</p>
            </div>
            <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
              <div class="circle font-weight-bold"><i class="fa fa-check"></i></div>
            </div>
          </div>
          <!-- Path Line -->
          <div class="row timeline">
            <div class="col-2">
              <div class="corner right-bottom"></div>
            </div>
            <div class="col-8">
              <hr/>
            </div>
            <div class="col-2">
              <div class="corner top-left"></div>
            </div>
          </div>
          <!-- Third Content Section -->
          <div class="row align-items-center connecting-lines d-flex">
            <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
              <div class="circle font-weight-bold"><i class="fa fa-check"></i></div>
            </div>
            <div class="col-6">
              <h4>proyecto</h4>
              <p>Nuestro proyecto consta de un sistema de comercio electrónico o más bien un sistema de ventas online tipo web. El comercio electrónico es el intercambio de productos o servicios usando el internet. “LIKESHOP”.
              </p>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
</body>
</html>
