<!-- FOOTER -->
<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Informacion</h3>
            <p>Es un software todo en uno que estará diseñado de muchas funciones clave,
              para el éxito de un negocio online. </p>
            <ul class="footer-links">
              <li><a href="#"><i class="fa fa-map-marker"></i>La vega, Las Carolinas</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>829-802-5258</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i>LIKESHOP@MAIL.COM</a></li>
            </ul>
          </div>
        </div>

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->


</footer>
<!-- /FOOTER -->
