<ngx-spinner
  bdColor= "rgba(151,149,149,0.4)"
  size="large"
  color="orange"
  type="ball-clip-rotate-pulse"
  fullScreen="true"
>
  <p style="font-size: 20px; color: black">Procesando compra</p>
</ngx-spinner>


<!-- SECTION -->
<div class="section" *ngIf="cartData.total > 0">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-7">
                <!-- Billing Details -->
                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">Dirección de Envio</h3>
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="first-name" placeholder="Primer Nombre">
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="last-name" placeholder="Apellido">
                    </div>
                    <div class="form-group">
                        <input class="input" type="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="address" placeholder="Direccion">
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="city" placeholder="Ciudad">
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="country" placeholder="Pais">
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="zip-code" placeholder="Codigo de Area">
                    </div>
                    <div class="form-group">
                        <input class="input" type="tel" name="tel" placeholder="Telefono">
                    </div>
                    <div class="form-group">
                        <div class="input-checkbox">
                            <input type="checkbox" id="create-account">
                            <label for="create-account">
                                <span></span>
                                Create Account?
                            </label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                <input class="input" type="password" name="password" placeholder="Enter Your Password">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Billing Details -->



                <!-- Order notes -->
                <div class="order-notes">
                    <textarea class="input" placeholder="Order Notes"></textarea>
                </div>
                <!-- /Order notes -->
            </div>

            <!-- Order Details -->
            <div class="col-md-5 order-details">
                <div class="section-title text-center">
                    <h3 class="title">Tu Orden</h3>
                </div>
                <div class="order-summary">
                    <div class="order-col">
                        <div><strong>PRODUCTOS</strong></div>
                        <div><strong>TOTAL</strong></div>
                    </div>
                    <div class="order-products">
                        <div class="order-col" *ngFor="let c of cartData.data;">
                          <div>{{c.numInCart}}x {{c.product.name}}</div>
                          <div>{{(c.product.price*c.numInCart) | currency:'USD'}}</div>
                        </div>
                      </div>
                    <div class="order-col">
                        <div>Shiping</div>
                        <div><strong>FREE</strong></div>
                    </div>
                    <div class="order-col">
                        <div><strong>TOTAL</strong></div>
                        <div><strong class="order-total">{{cartTotal | currency:'USD' }}</strong></div>
                    </div>
                </div>

                <div class="input-checkbox">
                    <input type="checkbox" id="terms">
                    <label for="terms">
                        <span></span>
                        Aceptar los terminos y Condiciones <a href="#">.</a>
                    </label>
                </div>
                <button type="submit" class="btn btn-success btn-block" [disabled]="cartTotal <= 0 " (click)="onCheckout()">Pagar Ahora</button>
            </div>
            <!-- /Order Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<div class="text-center my-5" *ngIf="cartData.total <= 0">
    <h4>El carrito esta Vacio</h4>
    <button class="btn btn-primary btn-lg mt-3" routerLink="/">Ir a la Tienda</button>
  </div>
  