<ngx-spinner
  bdColor= "rgba(151,149,149,0.4)"
  size="large"
  color="orange"
  type="ball-clip-rotate-pulse"
  fullScreen="true"
>
  <p style="font-size: 20px; color: black">Procesando compra</p>
</ngx-spinner>


<!-- SECTION -->
<div class="section container" *ngIf="cartData.total > 0">
    <!-- container -->
    <div class="row">
        <!-- row -->
        <div class="col-sm-12">
            <!-- PARA PODERLO INICIAR QUITO ESTO< UNA VEZ INICIADO LO PONGO DE NUEVO -->
            <!-- [formGroup]="data" -->
            <form  class="col-sm-12" (ngSubmit)="enviar(data.value)">
                <div class="col-sm-6">
                    <!-- Billing Details -->
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">Dirección de Envio</h3>
                        </div>
                        <div class="form-group">
                            <input formControlName="nombre" class="input" type="text"  placeholder="Primer Nombre">
                        </div>
                        <div class="form-group">
                            <input formControlName="apellido" class="input" type="text"  placeholder="Apellido">
                        </div>
                        <div class="form-group">
                            <input formControlName="email" class="input" type="email"  placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input formControlName="direccion" class="input" type="text"  placeholder="Direccion">
                        </div>
                        <div class="form-group">
                            <input formControlName="ciudad" class="input" type="text"  placeholder="Ciudad">
                        </div>
                        <div class="form-group">
                            <input formControlName="pais" class="input" type="text"  placeholder="Pais">
                        </div>
                        <div class="form-group">
                            <input formControlName="codigo_de_area" class="input" type="text"  placeholder="Codigo de Area">
                        </div>
                        <div class="form-group">
                            <input formControlName="telefono" class="input" type="text"  placeholder="Telefono">
                        </div>
                      
                    </div>
                </div>  

                <div class=" col-sm-6">
                        
                    <div class="section-title">
                        <h3 class="title">Tu Orden</h3>
                    </div>
                     
                    <div class="order-summary">
                        <div class="order-col">
                            <div><strong>PRODUCTOS</strong></div>
                            <div><strong>TOTAL</strong></div>
                        </div>
                        <div class="order-products">
                            <div class="order-col" *ngFor="let c of cartData.data;">
                              <div>{{c.numInCart}}x {{c.product.name}}</div>
                              <div>{{(c.product.price*c.numInCart) | currency:'USD'}}</div>
                            </div>
                          </div>
                        <div class="order-col">
                            <div>Shiping</div>
                            <div><strong>FREE</strong></div>
                        </div>
                        <div class="order-col">
                            <div><strong>TOTAL</strong></div>
                            <div><strong class="order-total">{{cartTotal | currency:'USD' }}</strong></div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success btn-block" [disabled]="cartTotal <= 0 " [disabled]="data.invalid" >Pagar Ahora </button>
                </div>
    
            </form>


        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<div class="text-center my-5" *ngIf="cartData.total <= 0">
    <h4>El carrito esta Vacio</h4>
    <button class="btn btn-primary btn-lg mt-3" routerLink="/">Ir a la Tienda</button>
  </div>
  